*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Helvetica';
    src: url(fonts/HelveticaNowText-ExtraBold.ttf);
}
h3, p, li{
    color: #767D99;
}
h1,h2{
    color: #010254;
}
.container{
    margin: 0 auto;
    background:#F4F7FC;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}

/* header */
header{
    max-width: 90%;
    margin: 0 5%;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.header a{
    color: #767D99;
}
.header-menu{
    display: flex;
    flex-direction: row;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
}
.header-menu li, .header-button li{
    padding: 10px;
}
.header-button ul{
    display: flex;
    flex-direction: row;
    align-items: center
}
.header-button li:last-child{
    background: #3B50DF;
    border-radius: 10px;
    padding: 13px 20px 13px 20px;
    margin-left: 15px;
}
.header-button li:last-child a{
    color: #F5F5F5;
}
#active{

}

/* Professional marketing */
.prof-marketing{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.prof-marketing-txt h1{
    font-size: 60px;
    margin-bottom: 0.5em;
}
.prof-marketing-txt{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    max-width: 38%;
}
.prof-marketing-txt p{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.prof-marketing-txt-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.prof-marketing-txt-button p{
    margin-bottom: 0;
    margin-left: 15px;
}
#button{
    background: #3B50DF;
    border-radius: 10px;
    padding: 17px 25px 17px 25px;
    color: #F5F5F5;
}
.prof-marketing-txt-button a:last-child{
    color: #767D99;
}

/* our services */
.our-services{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 150px;
}
.our-services-txt{
    text-align: center;
    margin-bottom: 45px;
}
.our-services-txt h2{
    font-size: 40px;
    margin-bottom: 0.5em;
    white-space: nowrap;
}
.our-services-txt h3{
    color: #3F53C0;
    white-space: nowrap;
    margin-bottom: 1em;
}
.our-services-txt p{
    max-width: 31%;
    margin: 0 auto;
}
.our-services-content{
    margin-top: 30px;
    display: flex;   
    justify-content: space-evenly
}
.service-block{
    background: #FFFFFF;
    max-width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding:40px 0 40px 30px;
    border-radius: 20px;

}
.service-block img{
    max-width: 100%;
    height: auto;
    max-width: 72px;
    margin-bottom: 20px;
}
.our-services-content h3{
    font-size: 25px;
    color: #010254;
    margin-bottom: 0.8em;
}
.service-block p{
    max-width: 86%;
}

/* about us*/
.about-us{
    display: flex;
    flex-direction: row-reverse;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between
}
.about-us-txt{
    max-width: 40%;
    margin-left: 5%;
}
.about-us-txt h2{
    font-size: 40px;
    margin-bottom: 0.5em;
}
.about-us-txt h3{
    color: #3F53C0;
    white-space: nowrap;
    margin-bottom: 1em;
}
.about-us-txt p{
    margin-bottom: 2em;
    max-width: 90%;
}
#about-us-txt-2p{
    margin-bottom: 50px;
}

/* our solutions */
.our-solutions{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}
.our-solutions-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.our-solutions-content-txt{
    max-width: 40%;
    margin-right: 10%;
    margin-top: 8%;
}
.our-solutions-content-txt h2{
    font-size: 40px;
    margin-bottom: 0.5em;
}
.our-solutions-content-txt h3{
    color: #3F53C0;
    white-space: nowrap;
    margin-bottom: 1em;
}
.our-solutions-content-txt p{
    margin-bottom: 3em;
}
.our-solutions-blocks{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.our-solutions-block{
    padding: 30px;
    max-width: 15%;
    border-radius: 20px;
}
.our-solutions-block h2{
    font-size: 40px;
    color:#F5F5F5;
    margin-bottom: 0.3em;
}
.our-solutions-block h3{
    color: #F5F5F5;
    margin-bottom: 1em;
}
.our-solutions-block p{
    color: #ffffff9a;
}
#block1{
    background: #3B50DF;
}
#block2{
    background: #FF5771;
}
#block3{
    background: #FDB400;
}
#block4{
    background: #627093;
}
/* pricing plan */
.pricing-plan{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}
.pricing-plan-txt{
    text-align: center;
}
.pricing-plan-txt h2{
    font-size: 40px;
    margin-bottom: 0.5em;
}
.pricing-plan-txt p{
    max-width: 43%;
    margin: 0 auto;
}
.pricing-plan-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.pricing-plan-column{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 25%;
    padding: 30px 20px 40px 20px;
    border-radius: 20px;
}
.pricing-plan-column-img{
    display: flex;
    flex-direction: row;
}
.pricing-plan-column-img-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.pricing-plan-column-img-txt h3{
    color: #010254;
    margin-bottom: 0.7em;
}
.pricing-plan-column-img-txt h4{
    color: #767D99;
}
.pricing-plan-column-txt{
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeef5;
}
.pricing-plan-column-txt li{
    display: flex;
    align-items: center;
    margin-top: 1em;
    text-indent: 10px; 
}
.pricing-plan-column-order-button{
    margin-top: 20px;
    text-align: center;
}
.pricing-plan-column-order-button h2{
    margin-bottom: 1.5em;
}
.pricing-plan-column-order-button a{
    color: #3F53C0;
    padding: 12px 42px;
    background: none;
    border-radius: 12px;
    border: 3px solid #3B50DF;
}
#order-button{
    background: #3B50DF;
    color: #F5F5F5;
}
/*our blog*/
.our-blog{   
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}
.our-blog-txt{
    text-align: center;
}
.our-blog-txt h2{
    font-size: 40px;
    margin-bottom: 0.5em;
}
.our-blog-txt p{
    max-width: 43%;
    margin: 0 auto;
}
.our-blog-columns{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 60px;
}
.our-blog-column{
    display: flex;
    flex-direction: column;
    width: 27%;
}
.our-blog-column img{
    background: #E1ECFE;
    padding: 20px 20px 0 20px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10%;
}
.our-blog-column-txt{
    max-width: 89%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.our-blog-column-txt h3{
    color: #010254;
    margin-bottom: 0.5em;
}
.our-blog-button{
    margin: 0 auto;
}