*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Helvetica';
    src: url(fonts/HelveticaNowText-ExtraBold.ttf);
}
h1, h2, h3, p, li{
    color: #767D99;
}
.container{
    margin: 0 auto;
    background:#F4F7FC;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
/* header */
header{
    max-width: 90%;
    margin: 0 5%;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.header a{
    color: #767D99;
}
.header-menu{
    display: flex;
    flex-direction: row;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
}
.header-menu li, .header-button li{
    padding: 10px;
}
.header-button ul{
    display: flex;
    flex-direction: row;
    align-items: center
}
.header-button li:last-child{
    background: #3B50DF;
    border-radius: 10px;
    padding: 13px 20px 13px 20px;
    margin-left: 15px;
}
.header-button li:last-child a{
    color: #F5F5F5;
}
#active{

}
/* Professional marketing */
.prof-marketing{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.prof-marketing-txt h1{
    font-size: 60px;
    color: #00015C;
    margin-bottom: 0.5em;
}
.prof-marketing-txt{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    max-width: 38%;
}
.prof-marketing-txt p{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.prof-marketing-txt-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.prof-marketing-txt-button p{
    margin-bottom: 0;
}
.prof-marketing-txt-button a:first-child{
    background: #3B50DF;
    border-radius: 10px;
    padding: 17px 25px 17px 25px;
    color: #F5F5F5;
    margin-right: 15px;
}
.prof-marketing-txt-button a:last-child{
    color: #767D99;
}
/* our services */
.our-services{
    margin-top: 150px;
}
.our-services-txt{
    text-align: center;
}
.our-services-txt h2{
    font-size: 50px;
    color: #00015C;
}
.our-services-txt h3{
    color: #3F53C0;
}
.our-services-txt p{
    max-width: 35%;
    margin: 0 auto;
    font-size: 20px;
}
.our-services-content{
    margin-top: 30px;
    display: flex;   
    justify-content: space-evenly
}
.service-block{
    background: #FFFFFF;
    max-width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.service-block img{
    max-width: 100%;
    height: auto;
    max-width: 72px;
}
.our-services-content p{
    font-size: 20px;
}
