
*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Helvetica';
    src: url(fonts/HelveticaNowText-ExtraBold.ttf);
}
h3, h4, p, li{
    color: #767D99;
}
h1,h2{
    color: #010254;
}
h2{
    font-size: 40px;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    background:#F4F7FC;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    overflow-x: hidden;
}
.main{
    flex: 1 1 auto;
}

/* header */
header{
    max-width: 90%;
    margin: 0 5%;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.header a{
    color: #767D99;
}
.header-menu{
    display: flex;
    flex-direction: row;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
}
.header-menu li, .header-button li{
    padding: 10px;
}
.header-button ul{
    display: flex;
    flex-direction: row;
    align-items: center
}
.header-button .header-button-button{
    background: #3B50DF;
    border-radius: 10px;
    padding: 13px 20px 13px 20px;
    margin-left: 15px;
    color: #F5F5F5;
}
.active-menu{
    color: #38385C;
}
.active-menu::before{
    position: absolute;
    height: 3px;
    width: 40px;
    border-radius: 7px;
    background: #797A91;
    content: '';
    top: 50px;
}

/* Professional marketing */
.prof-marketing{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.prof-marketing-txt h1{
    font-size: 60px;
    margin-bottom: 0.5em;
}
.prof-marketing-txt{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}
.prof-marketing-txt p{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.prof-marketing-txt-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.prof-marketing-txt-button p{
    margin-bottom: 0;
    margin-left: 15px;
}
.button-learn-more{
    background: #3B50DF;
    border-radius: 10px;
    padding: 17px 25px 17px 25px;
    color: #F5F5F5;
    cursor: pointer;
}
.prof-marketing-content{
    position: relative;
}
.prof-marketing-txt-button .how-it-works{
    color: #767D99;
}
.prof-marketing-content{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 18%;
}
.prof-marketing-content-blocks{
    display: flex;
    flex-direction: column;
}

.prof-marketing-content-statistics{
    position: relative;
    bottom: 0;
    background: #FF5771;
    max-width: 100%;
    white-space: nowrap;
    border-radius: 20px;
    padding: 0 10px;
    left: -7%;
}
.prof-marketing-content h2{
    color: #f5dbdb;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}
.prof-marketing-content p{
    color:#f5dbdb82;
    margin-bottom: 2em;
}
.prof-marketing-content-perfomance{
    position: relative;
    background: #FFFFFF;
    max-width: 100%;
    white-space: nowrap;
    border-radius: 20px;
    padding: 15px 25px 25px;
    left: 35%;
    top: -7%;
}
.prof-marketing-content-perfomance h4{
    display: flex;
    align-items: center;
    text-indent: 10px;
}
.prof-marketing-content-perfomance div{
    background: #D8DCF9;
    width: 100%;
    height: 9px;
    margin-top: 36px;
    border-radius: 5px;
    position: relative;
}
.prof-marketing-content-perfomance span::before{
    height: 9px;
    background-color: #D8DCF9;
    position: absolute;
    border-radius: 5px;
    content: '';
    top: -200%;
}
.prof-marketing-content-perfomance .first-line span::before{
    width: 45%;
}
.prof-marketing-content-perfomance .second-line span::before{
    width: 35%;
}
.prof-marketing-content-perfomance .third-line span::before{
    width: 60%;
}
.prof-marketing-content-perfomance span::after{
    position: absolute;
    height: 9px;
    background: #3A51DF;
    content: '';
    border-radius: 5px;
}
.prof-marketing-content-perfomance .third-line span::after{
    width: 80%;
}
.prof-marketing-content-perfomance .second-line span::after{
    width: 30%;
}
.prof-marketing-content-perfomance .first-line span::after{
    width: 55%;
}
/* our services */
.our-services{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 150px;
}
.our-services-txt{
    text-align: center;
    margin-bottom: 45px;
}
.our-services-txt h2{
    margin-bottom: 0.5em;
    white-space: nowrap;
}
.our-services-txt h3{
    color: #3F53C0;
    white-space: nowrap;
    margin-bottom: 1em;
}
.our-services-txt p{
    max-width: 31%;
    margin: 0 auto;
}
.our-services-content{
    margin-top: 30px;
    display: flex;
    justify-content: center   
}
.service-block img{
    padding-right: 30px;
}
.service-block{
    background: #FFFFFF;
    min-width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding:40px 5px 40px 30px;
    border-radius: 20px;
    margin: 0 5%;
    margin-bottom: 20px;
}
.service-block img{
    max-width: 100%;
    height: auto;
    max-width: 72px;
    margin-bottom: 20px;
}
.our-services-content h3{
    font-size: 25px;
    color: #010254;
    margin-bottom: 0.8em;
}
.service-block p{
    max-width: 86%;
}
.our-services-content::-webkit-scrollbar{
    height: 5px;
  }
.our-services-content::-webkit-scrollbar-track{
    background:  rgba(50, 53, 60, 1);
    height: 5px;
}
.our-services-content::-webkit-scrollbar-thumb{
    background: url(svg/scrollbar.svg) no-repeat center;
}
/* about us*/
.about-us{
    display: flex;
    flex-direction: row-reverse;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between
}
.about-us-txt{
    max-width: 40%;
    margin-left: 5%;
}
.about-us-txt h2{
    margin-bottom: 0.5em;
}
.about-us-txt h3{
    color: #3F53C0;
    white-space: nowrap;
    margin-bottom: 1em;
}
.about-us-txt p{
    margin-bottom: 2em;
    max-width: 90%;
}
.about-us-txt .about-us-txt-2p{
    margin-bottom: 50px;
}
.about-us-img{
    position: relative;
}
.about-us-img-statistic{   
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: #FFFFFF;
    text-align: center;
    align-items: center;
    padding: 13px 18px;
    border-radius: 10px;
    bottom: -6%;
    right: -10%;
}
.about-us-img-statistic h2{
    margin-top: 0.2em;
}
.about-us-img-statistic p{
    margin-bottom: 1em;
}
.about-us-img-statistic .about-us-img-statistic-last-p{
    color:#010254;
}
/* our solutions */
.our-solutions{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}
.our-solutions-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.our-solutions-content-txt{
    max-width: 40%;
    margin-right: 10%;
    margin-top: 8%;
}
.our-solutions-content-txt h2{
    margin-bottom: 0.5em;
}
.our-solutions-content-txt h3{
    color: #3F53C0;
    white-space: nowrap;
    margin-bottom: 1em;
}
.our-solutions-content-txt p{
    margin-bottom: 3em;
}
.our-solutions-blocks{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.our-solutions-block{
    padding: 30px;
    min-width: 15%;
    border-radius: 20px;
    max-width: 15%;
}
.our-solutions-block h2{
    color:#F5F5F5;
    margin-bottom: 0.3em;
}
.our-solutions-block h3{
    color: #F5F5F5;
    margin-bottom: 1em;
}
.our-solutions-block p{
    color: #ffffff9a;
}
.our-solutions-content-img{
    position: relative;
}
.our-solutions-content-img-statistic{
    position: absolute;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 14px;
    top: 8%;
    left: -19%;
}
.our-solutions-content-img-statistic h3{
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}
.block1{
    background: #3B50DF;
}
.block2{
    background: #FF5771;
}
.block3{
    background: #FDB400;
}
.block4{
    background: #627093;
}
.our-solutions-blocks::-webkit-scrollbar{
    height: 5px;
  }
.our-solutions-blocks::-webkit-scrollbar-track{
    background:  rgba(50, 53, 60, 1);
    height: 5px;
}
.our-solutions-blocks::-webkit-scrollbar-thumb{
    background: url(svg/scrollbar.svg) no-repeat center;
}
/* pricing plan */
.pricing-plan{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}
.pricing-plan-txt{
    text-align: center;
}
.pricing-plan-txt h2{   
    margin-bottom: 0.5em;
}
.pricing-plan-txt p{
    max-width: 43%;
    margin: 0 auto;
}
.pricing-plan-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.pricing-plan-column{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 25%;
    padding: 30px 20px 40px 20px;
    border-radius: 20px;
    white-space: nowrap;
}
.pricing-plan-column-img{
    display: flex;
    flex-direction: row;
}
.pricing-plan-column-img-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.pricing-plan-column-img-txt h3{
    color: #010254;
    margin-bottom: 0.7em;
}
.pricing-plan-column-txt{
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeef5;
    
}
.pricing-plan-column-txt li{
    display: flex;
    align-items: center;
    margin-top: 1em;
    text-indent: 10px; 
}
.pricing-plan-column-order-button{
    margin-top: 20px;
    text-align: center;
}
.pricing-plan-column-order-button h2{
    margin-bottom: 1.5em;
}
.pricing-plan-column-order-button a{
    color: #3F53C0;
    padding: 12px 42px;
    background: none;
    border-radius: 12px;
    border: 3px solid #3B50DF;
}
.order-button{
    background: #3B50DF;
    color: #F5F5F5;
}
.pricing-plan-columns::-webkit-scrollbar{
    height: 5px;
  }
.pricing-plan-columns::-webkit-scrollbar-track{
    background:  rgba(50, 53, 60, 1);
    height: 5px;
}
.pricing-plan-columns::-webkit-scrollbar-thumb{
    background: url(svg/scrollbar.svg) no-repeat center;
}
/*our blog*/
.our-blog{   
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}
.our-blog-txt{
    text-align: center;
}
.our-blog-txt h2{
    margin-bottom: 0.5em;
}
.our-blog-txt p{
    max-width: 43%;
    margin: 0 auto;
}
.our-blog-columns{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 60px;
}
.our-blog-column{
    display: flex;
    flex-direction: column;
    width: 27%;
}
.our-blog-column img{
    background: #E1ECFE;
    padding: 20px 20px 0 20px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10%;
}
.our-blog-column-txt{
    max-width: 89%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.our-blog-column-txt h3{
    color: #010254;
    margin-bottom: 0.5em;
}
.our-blog-button{
    margin: 0 auto;
}
.our-blog-columns::-webkit-scrollbar{
    height: 5px;
  }
.our-blog-columns::-webkit-scrollbar-track{
    background:  rgba(50, 53, 60, 1);
    height: 5px;
}
.our-blog-columns::-webkit-scrollbar-thumb{
    background: url(svg/scrollbar.svg) no-repeat center;
}
/* clients */
.clients{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.clients-txt h2{
    margin-bottom: 1.5em;
    text-align: center;
}
.clients-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.client-column{
    background: #FFFFFF;
    max-width: 25%;
    padding: 15px 20px;
    border-radius: 20px;
}
.client-column-client{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.client{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.client img{
    max-width: 100%;
    height: auto;
}
.client-txt{
    text-indent: 10px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.client-img img{
    max-width: 100%;
    height: auto;
}
.client-txt h3{
    color: #010254;
}
.client-column-txt{
    max-width: 92%;
    margin-top: 1em;
}
.clients-columns::-webkit-scrollbar{
    height: 5px;
  }
  .clients-columns::-webkit-scrollbar-track{
    background:  rgba(50, 53, 60, 1);
    height: 5px;
}
.clients-columns::-webkit-scrollbar-thumb{
    background: url(svg/scrollbar.svg) no-repeat center;
}
/* sign up */
.sign-up{
    background: #EBEEFD;
    border-radius: 20px;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sign-up-content h2{
    margin-bottom: 1.5em;
}
.sign-up-content{
    max-width: 60%;
    padding: 70px 20px 70px 20px;
}
.sign-up-subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    max-width: 75%;
    padding: 8px 15px 8px 15px;
    margin: 0 auto;
    align-items: center;
    border-radius: 20px;
}
.sign-up-subscribe-enter{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-indent: 10px;
}
.sign-up-subscribe-enter input{
    border: none;
    outline: none;
    opacity: 0.8;
}
.sign-up-subscribe-enter img{
    max-width: 100%;
    height: auto;
    min-width: 26px;
}
.sign-up-subscribe-button .button-learn-more{
    padding: 15px 20px 15px 20px;
    border: none;
}
/* general contacts*/
.general-contacts{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.general-contacts-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.general-column{
    max-width: 25%;
}
.general-column p,.general-column h3{
    margin-top: 1em;
}
.general-column img{
    max-width: 150px;
}
.general-contacts-column{
    max-width: 17%;
    display: flex;
    flex-direction: column;
}
.general-contacts-column h3{
    color: #010254;
    margin-bottom: 1em;
}
.general-contacts-column-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
}
.general-contacts-column li{
    margin-bottom: 1em;
}
/*footer*/
.footer{
    background: #11005D;
    max-width: 100%;
}
.footer-txt{
    max-width: 85%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
}
.privacy{
    display: flex;
    flex-direction: row;
}
.footer p{
    font-size: 12px;
    color:#f5dbdbdb;
    margin: 0 5px;
}

@media screen and (max-width:1280px) {
    /* other */
    .prof-marketing-txt h1 {
        font-size: calc(30px + (25 + 25 * 0.7) * ((100vw - 375px)/1440))
    }
    p{
        font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 375px)/1440));
    }
    h3{
        font-size: calc(13px + (6 + 6 * 0.7) * ((100vw - 375px)/1440));
    }
    h2{
        font-size: calc(17px + (23 + 23 * 0.7) * ((100vw - 375px)/1440));
    }
    /*prof marketing*/
    .prof-marketing-content{
        margin: 100px auto 0;
    }
    .prof-marketing{
        flex-direction: column;
        margin-top: 30px;
    }
    .prof-marketing-txt{
        max-width: 80%;
        margin-top: 0px;
    }
    .prof-marketing-txt-button {
        padding-right: 236px;
    }
    .prof-marketing-content-statistics h2{
        font-size: calc(16px + (7 + 7 * 0.7) * ((100vw - 375px)/1440));
    }
    .prof-marketing-content-perfomance h4{
        font-size: calc(9px + (4 + 4 * 0.7) * ((100vw - 375px)/1440));
    }
    /* our services */
    .our-services-content h3 {
        font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 375px)/1440));
    }
    .our-services-content{
        min-width: 100%;
        align-items: normal;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .our-services-content {
        justify-content: flex-start;
    }

    /* about us*/
    .about-us{
        flex-direction: column;
    }
    .about-us-txt {
        text-align: center;
        max-width: 80%;
        margin-left: 0; 
        margin: 0 auto;
    }
    .about-us-img{
        margin: 0 auto;
        margin-top: 40px;
    }
    .about-us-img-statistic{
        bottom: -1%;
        right: -4%;
    }
    .about-us-txt p {
        margin: 1em  auto;
    }
    /* our solutions */
    .our-solutions-content{
        flex-direction: column;
        align-items: center;
        
    }
    .our-solutions-content-txt{
        max-width: 80%;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 0;
    }
    .our-solutions-block{
        margin: 0 5%;
    }
    .our-solutions-blocks{
        min-width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 30px;
    }
    /* pricing plan*/
    .pricing-plan-columns{
        min-width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 30px;
    }
    .pricing-plan-column{
        margin: 0 5%;
        padding: 30px 60px 36px 20px;
        width: auto;
    }
    .pricing-plan-column-img img{
        height: 75px;
    }
    .pricing-plan-column-order-button a{
        margin-left: 13%;
    }
    .pricing-plan-txt p {
        max-width: 72%;
    }
    /* our blog */
    .our-blog-column{
        margin: 0 3%;
        padding: 15px;
        min-width: 50%;
    }
    .our-blog-columns{
        justify-content: normal;
        min-width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 30px;
    }
    /* clients */
    .clients-columns{
        justify-content: normal;
        min-width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 30px;
    }
    .client-column{
        margin: 0 3%;
        min-width: 60%;
    }
    /* sign up*/
    .sign-up-content{
        align-items: center;
    }
    .sign-up-subscribe {
        max-width: none;
        width: 80%;
    }
    .sign-up-content{
        max-width: none;
    }
    .sign-up-txt{
        max-width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width:992px){
    /* header */
    .header{
        align-items: normal;
        position: relative;
        padding-bottom: 40px;
    }
    .header-logo{
        position: absolute;
        left: 30px;
        padding-top: 7px;
    }
    .header-button{
        position: absolute;
        right: 80px;
    }
    .topnav a{
        display: none;
    }
    .topnav .icon{
        position: absolute;
        display: block;
        right: 55px;
        top: 31px;
    }
    .topnav .li-icon{
        position: absolute;
        top: 30px;
        right: -50px;
    }
    .topnav.responsive .li-icon{
        margin-right: 190px;
    }
    .topnav.responsive{
        margin-top: 90px;
        display: flex;
        flex-direction: column-reverse;
    }
    .topnav.responsive a{
        display: flex;
    }
    .topnav.responsive .li-icon{
        position: absolute;
        top: 30px;
        right: -240px;
    }
    .topnav.responsive li{
        margin-right: -120px;
        width: 190px;
    }
    .topnav .li-icon a{
        max-width: 50px;
        max-height: 25px;
    }
    .active-menu::before{
        top: 229px;
    }
    .topnav .icon span,.topnav .icon span::after, .topnav .icon span::before{
        position: absolute;
        top: 50%;
        width: 23px;
        height: 2px;
        background: #3A5ADF;
        margin-top: -1px;
        left: 50%;
        margin-left: -10%;
        border-radius: 15%;
    }
    .topnav .icon span::after, .topnav .icon span::before{
        content: '';
    }
    .topnav .icon span::after{
        width: 50%;
        margin-left: 0;
        transform: translateY(7px);;
    }
    .topnav .icon span::before{
        transform: translateY(-7px);
        width: 50%;
        margin-left: 0;
        left: 0;
    }
    /*our solutions */
    .our-solutions-content-img-statistic{
        top: 14%;
        left: -11%;
    }
}
@media screen and (max-width:768px) {
    .footer-txt{
        flex-direction: column;
    }
    .copyright{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 576px){
    /* header */
    .header{
        padding-bottom: 30px;
    }
    .header-button {
        top: 27px;
        right: 80px;
    }
    .header-logo {
        left: 10px;
        padding-top: 6px;
    }
    .header-button li {
        font-size: 10px;
        padding: 0;
    }
    .header-button .header-button-button {
        border-radius: 8px;
        padding: 5px 10px 5px 10px;
        margin-left: 10px;
    }
    /* prof marketing */
    .prof-marketing-content-perfomance span::before,.prof-marketing-content-perfomance span::after, .prof-marketing-content-perfomance div{
        height: 6px;
    }
    .prof-marketing-content-perfomance div{
        margin-top: 7vw;
    }
    .prof-marketing-content-perfomance{
        top: -21%;
    }
    .prof-marketing-content-perfomance img{
        max-width: 12px;
    }
    /* our services */
    .service-block{
        min-width: 35%;
    }
    /* about us */
    .about-us-img-statistic {
        bottom: 1%;
        right: -4%;
    }
    /*our solutions*/
    .our-solutions-block {
        padding: 22px;
        min-width: 28%;
        max-width: 28%;
    }
    /* pricing plan */
    .pricing-plan-column-order-button a {
        padding: 12px 23px;
        margin-left: 0;
    }
    .pricing-plan-column-txt li {
        font-size: 9px;
    }
    .pricing-plan-column-img img {
        width: auto;
        height: 53px;
    }
    /* sign up */
    .sign-up-subscribe-enter{
        font-size: 6px;
        max-width: 10%;
    }
    .sign-up-subscribe-button .button-learn-more {
        position: relative;
        z-index: 2;
        padding: 7px 10px 7px 10px;
        border: none;
    }
    /* general contacts*/
    .general-contacts-column-img {
        max-width: none;
        flex-wrap: wrap;
    }
    .general-contacts-column li{
        font-size: calc(7px + (7 + 7 * 0.7) * ((100vw - 375px)/1440))
    }

}
